Repository tiffinwaleofficial/Tiffin-Wale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_official_web, build_mobile_app, build_partner_app, test_backend, test_official_web, test_mobile_app, test_partner_app, deploy_backend, deploy_official_web, deploy_mobile_app, deploy_partner_app, deploy_dispatch

build_backend:
  stage: build
  image: node:20
  script:
  - cd monolith_backend
  - npm ci
  - npm run lint
  - npm run build
  artifacts:
    paths:
    - monolith_backend/dist/
    expire_in: 1 week

build_official_web:
  stage: build
  image: node:20
  script:
  - cd interface/official-web-app
  - npm ci
  - npm run lint || true
  - npm run build
  artifacts:
    paths:
    - interface/official-web-app/dist/
    expire_in: 1 week

build_mobile_app:
  stage: build
  image: node:20
  script:
  - npm install -g expo-cli
  - cd interface/student-app
  - npm ci
  - npm install @react-native-async-storage/async-storage axios
  - npm run lint || true
  - npm run export:web || true
  artifacts:
    paths:
    - interface/student-app/web-build-temp/
    expire_in: 1 week

build_partner_app:
  stage: build
  image: node:20
  script:
  - yarn --version || npm install -g yarn
  - npm install -g expo-cli || true
  - cd interface/partner-app
  - yarn install
  - yarn lint || true
  - yarn export:web || true
  artifacts:
    paths:
    - interface/partner-app/web-build-temp/
    expire_in: 1 week

test_backend:
  stage: test
  image: node:20
  script:
  - cd monolith_backend
  - npm ci
  - npm run test
  - npm run test:api || true
  - npm audit --production || true
  needs:
  - build_backend

test_official_web:
  stage: test
  image: node:20
  script:
  - cd interface/official-web-app
  - npm ci
  - npm test || true
  - npm audit --production || true
  needs:
  - build_official_web

test_mobile_app:
  stage: test
  image: node:20
  script:
  - cd interface/student-app
  - npm ci
  - npm test || true
  - npm audit --production || true
  needs:
  - build_mobile_app

test_partner_app:
  stage: test
  image: node:20
  script:
  - yarn --version || npm install -g yarn
  - cd interface/partner-app
  - yarn install
  - yarn test || true
  - yarn audit || true
  needs:
  - build_partner_app

deploy_backend:
  stage: deploy
  image: google/cloud-sdk:latest
  script:
  - echo "$GCP_SERVICE_KEY" > ${CI_PROJECT_DIR}/gcp-key.json
  - gcloud auth activate-service-account --key-file=${CI_PROJECT_DIR}/gcp-key.json
  - gcloud config set project tiffin-wale
  - gcloud -q app deploy monolith_backend/app.yaml --quiet
  needs:
  ...

deploy_official_web:
  stage: deploy
  image: node:20
  script:
  - apt-get update && apt-get install -y curl gnupg apt-transport-https ca-certificates
  - curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | gpg --dearmor -o /usr/share/keyrings/cloud.google.gpg
  ...

deploy_mobile_app:
  stage: deploy
  image: node:20
  script:
  - apt-get update && apt-get install -y curl gnupg apt-transport-https ca-certificates
  - curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | gpg --dearmor -o /usr/share/keyrings/cloud.google.gpg
  ...

feat: Implement optimized media upload with progress
  interface/student-app/components/ChatRoom.tsx
  interface/student-app/components/ReviewModal.tsx
  interface/student-app/package-lock.json
  interface/student-app/package.json
  interface/student-app/services/imageUploadService.ts
Due: build_mobile_app, test_mobile_app, deploy_mobile_app

feat: Implement code splitting and lazy loading
  interface/student-app/app.config.ts
  interface/student-app/components/lazy/LazyAuthScreens.tsx
  interface/student-app/components/lazy/LazyFeatureScreens.tsx
  interface/student-app/components/lazy/LazyOnboardingScreens.tsx
  interface/student-app/components/lazy/LazySettingsScreens.tsx
  interface/student-app/components/lazy/LazySupportScreens.tsx
  interface/student-app/components/lazy/LazyTabScreens.tsx
  interface/student-app/components/lazy/index.ts
  interface/student-app/docs/CODE_SPLITTING_IMPLEMENTATION.md
  interface/student-app/metro.config.js
  interface/student-app/scripts/test-code-splitting.js
  interface/student-app/utils/lazyLoading.ts
Due: build_mobile_app, test_mobile_app, deploy_mobile_app

cloudinary full 100% working integraiton in partner app
  interface/partner-app/.env
  interface/partner-app/FIREBASE_PRODUCTION_SETUP.md
  interface/partner-app/ONBOARDING_IMPLEMENTATION.md
  interface/partner-app/app/onboarding/location-hours.tsx
  interface/partner-app/app/onboarding/review-submit.tsx
  interface/partner-app/components/ui/UploadComponent.tsx
  interface/partner-app/memory-bank/10_CLOUDINARY_INTEGRATION.md
  interface/partner-app/services/cloudinaryUploadService.ts
  services/monolith_backend/src/modules/upload/upload.service.ts
Due: build_partner_app, test_partner_app, deploy_partner_app

new tempalte added
  services/monolith_backend/.env
  services/monolith_backend/src/config/email.config.ts
  services/monolith_backend/src/modules/auth/dto/register-partner.dto.ts
  services/monolith_backend/src/modules/email/email-test.controller.ts
  services/monolith_backend/src/modules/email/email.service.ts
  services/monolith_backend/src/modules/email/template.service.ts
  services/monolith_backend/src/modules/email/templates/components/CfoAvatar.tsx
  services/monolith_backend/src/modules/email/templates/components/Icons.tsx
  services/monolith_backend/src/modules/email/templates/components/svg/meal.svg
  services/monolith_backend/src/modules/email/templates/emails/CfoWelcomeEmail.tsx
Due: none

tempalte
  services/monolith_backend/public/cfo.jpg
  services/monolith_backend/src/modules/email/templates/emails/CfoWelcomeEmail.tsx
Due: none

resend integrats
  interface/official-web-app/client/public/icon.png
  interface/official-web-app/client/public/logo.png
  interface/official-web-app/client/src/App.tsx
  interface/official-web-app/client/src/components/Navbar.tsx
  interface/official-web-app/client/src/pages/about.tsx
  interface/official-web-app/client/src/pages/rahul-vishwakarma.tsx
  interface/official-web-app/client/src/pages/riya-tiwari.tsx
  interface/partner-app/app/onboarding/cuisine-services.tsx
  interface/partner-app/app/onboarding/documents.tsx
  interface/partner-app/app/onboarding/images-branding.tsx
  interface/partner-app/app/onboarding/location-hours.tsx
  interface/partner-app/app/onboarding/payment-setup.tsx
  interface/partner-app/app/onboarding/review-submit.tsx
  interface/partner-app/components/ui/UploadComponent.tsx
  interface/partner-app/services/cloudinaryUploadService.ts
  services/monolith_backend/scripts/send-test-cfo-email.js
  services/monolith_backend/src/modules/admin/dto/database-management.dto.ts
  services/monolith_backend/src/modules/email/email-test.controller.ts
  services/monolith_backend/src/modules/email/email.service.ts
  services/monolith_backend/src/modules/email/templates/components/EmailLayout.tsx
  services/monolith_backend/src/modules/email/templates/components/Icons.tsx
  services/monolith_backend/src/modules/email/templates/emails/CfoWelcomeEmail.tsx
  services/monolith_backend/src/modules/upload/upload.service.ts
Due: build_official_web, build_partner_app, test_official_web, test_partner_app, deploy_official_web, deploy_partner_app

partner
  interface/partner-app/app/(tabs)/dashboard.tsx
  interface/partner-app/app/(tabs)/notifications.tsx
  interface/partner-app/app/(tabs)/profile.tsx
  interface/partner-app/app/pages/chat.tsx
  interface/partner-app/app/pages/edit-profile.tsx
  interface/partner-app/app/pages/privacy-policy.tsx
  interface/partner-app/app/pages/terms-conditions.tsx
  interface/partner-app/components/CustomTabBar.tsx
  interface/partner-app/components/NotificationsModal.tsx
  interface/super-admin/.env
  interface/super-admin/.env.example
  interface/super-admin/.env.local
  interface/super-admin/doc/API_CLIENT_GUIDE.md
  interface/super-admin/doc/QUICK_REFERENCE.md
  interface/super-admin/package.json
  interface/super-admin/scripts/post-generate-api.js
  interface/super-admin/src/app/login/page.tsx
  interface/super-admin/src/context/auth-provider.tsx
  interface/super-admin/src/lib/api/client.ts
  interface/super-admin/src/lib/api/index.ts
  package.json
Due: build_partner_app, test_partner_app, deploy_partner_app

push
  interface/student-app/app/pages/meal-detail.tsx
  interface/student-app/app/pages/partner-detail.tsx
  interface/student-app/app/pages/plan-detail.tsx
  interface/student-app/auth/SecureTokenManager.ts
  interface/student-app/components/ActiveSubscriptionDashboard.tsx
  interface/student-app/lib/api/client.ts
  services/mcp-servers/.gitignore
  services/mcp-servers/README.md
  services/mcp-servers/config/cursor-config.json
  services/mcp-servers/config/servers.json
  services/mcp-servers/docs/adding-servers.md
  services/mcp-servers/docs/architecture.md
  services/mcp-servers/docs/cursor-integration.md
  services/mcp-servers/docs/setup.md
  services/mcp-servers/src/servers/_template/README.md
  services/mcp-servers/src/servers/mongodb/README.md
  services/mcp-servers/src/servers/mongodb/config.ts
  services/mcp-servers/src/servers/mongodb/index.ts
  services/mcp-servers/src/shared/config/env.ts
  services/mcp-servers/src/shared/types/mcp-server.ts
  services/mcp-servers/src/shared/utils/logger.ts
  services/mcp-servers/src/shared/utils/server-registry.ts
  services/mcp-servers/tsconfig.json
  services/monolith_backend/.env
  services/monolith_backend/SUPER_ADMIN_INTEGRATION_STATUS.md
  services/monolith_backend/memory-bank/super-admin-integration-analysis.md
  services/monolith_backend/public/ceo.jpg
  services/monolith_backend/scripts/send-test-ceo-email.js
  services/monolith_backend/src/common/decorators/public.decorator.ts
  services/monolith_backend/src/config/email.config.ts
  services/monolith_backend/src/modules/email/email-test.controller.ts
  services/monolith_backend/src/modules/email/email.service.ts
  services/monolith_backend/src/modules/email/template.service.ts
  services/monolith_backend/src/modules/email/templates/emails/CeoWelcomeEmail.tsx
  services/monolith_backend/src/modules/subscription/subscription.service.ts
  services/motia/motia-workbench.json
  services/motia/types.d.ts
Due: build_mobile_app, test_mobile_app, deploy_mobile_app

CEO
  services/mcp-servers/.gitignore
  services/mcp-servers/README.md
  services/mcp-servers/config/cursor-config.json
  services/mcp-servers/config/servers.json
  services/mcp-servers/docs/adding-servers.md
  services/mcp-servers/docs/architecture.md
  services/mcp-servers/docs/cursor-integration.md
  services/mcp-servers/docs/setup.md
  services/mcp-servers/src/servers/_template/README.md
  services/mcp-servers/src/servers/mongodb/README.md
  services/mcp-servers/src/servers/mongodb/config.ts
  services/mcp-servers/src/servers/mongodb/index.ts
  services/mcp-servers/src/shared/config/env.ts
  services/mcp-servers/src/shared/types/mcp-server.ts
  services/mcp-servers/src/shared/utils/logger.ts
  services/mcp-servers/src/shared/utils/server-registry.ts
  services/mcp-servers/tsconfig.json
  services/monolith_backend/SUPER_ADMIN_INTEGRATION_STATUS.md
  services/monolith_backend/memory-bank/super-admin-integration-analysis.md
  services/monolith_backend/scripts/send-test-ceo-email.js
  services/monolith_backend/scripts/send-test-cfo-email.js
  services/monolith_backend/src/common/decorators/public.decorator.ts
  services/monolith_backend/src/modules/email/templates/components/EmailLayout.tsx
  services/monolith_backend/src/modules/email/templates/emails/static/logo.png
Due: none

Cron Job Creation Plan
  .cursor/plans/cron-job-service-implementation-648c2a1d.plan.md
Due: none

perfect PDF Done
  services/monolith_backend/scripts/test-pdf-generation.js
  services/monolith_backend/src/modules/report/assets/style.css
  services/monolith_backend/src/modules/report/dto/index.ts
  services/monolith_backend/src/modules/report/dto/partner-mou.dto.ts
  services/monolith_backend/src/modules/report/dto/partner-nda.dto.ts
  services/monolith_backend/src/modules/report/dto/service-agreement.dto.ts
  services/monolith_backend/src/modules/report/formats/pdf/pdf.service.ts
  services/monolith_backend/src/modules/report/generators/index.ts
  services/monolith_backend/src/modules/report/generators/partner-mou.generator.ts
  services/monolith_backend/src/modules/report/generators/partner-nda.generator.ts
  services/monolith_backend/src/modules/report/generators/service-agreement.generator.ts
  services/monolith_backend/src/modules/report/interfaces/report-data.interface.ts
  services/monolith_backend/src/modules/report/report.controller.ts
  services/monolith_backend/src/modules/report/report.module.ts
  services/monolith_backend/src/modules/report/report.service.ts
  services/monolith_backend/src/modules/report/resources/images/logo_black.png
  services/monolith_backend/src/modules/report/templates/partner-mou.hbs
  services/monolith_backend/src/modules/report/templates/partner-nda.hbs
  services/monolith_backend/src/modules/report/templates/service-agreement.hbs
Due: none

pdf service
  services/monolith_backend/scripts/test-pdf-generation.js
  services/monolith_backend/src/config/company-info.config.ts
  services/monolith_backend/src/modules/auth/dto/register-super-admin.dto.ts
  services/monolith_backend/src/modules/report/assets/style.css
  services/monolith_backend/src/modules/report/dto/partner-mou.dto.ts
  services/monolith_backend/src/modules/report/dto/partner-nda.dto.ts
  services/monolith_backend/src/modules/report/dto/service-agreement.dto.ts
  services/monolith_backend/src/modules/report/formats/pdf/pdf.config.json
  services/monolith_backend/src/modules/report/formats/pdf/pdf.service.ts
  services/monolith_backend/src/modules/report/generators/partner-mou.generator.ts
  services/monolith_backend/src/modules/report/generators/partner-nda.generator.ts
  services/monolith_backend/src/modules/report/generators/service-agreement.generator.ts
  services/monolith_backend/src/modules/report/interfaces/report-data.interface.ts
  services/monolith_backend/src/modules/report/report.service.ts
  services/monolith_backend/src/modules/report/templates/header.hbs
  services/monolith_backend/src/modules/report/templates/partner-nda.hbs
Due: none

service
  bun.lock
  docs/BACKEND_API_VERIFICATION_REPORT.md
  docs/COMPREHENSIVE_APP_ANALYSIS.md
  docs/DELIVERY_WORKFLOW.md
  interface/official-web-app/client/src/pages/about.tsx
  interface/official-web-app/client/src/pages/rahul-vishwakarma.tsx
  interface/official-web-app/client/src/pages/riya-tiwari.tsx
  interface/partner-app/bun.lock
  interface/student-app/STITCH_PROMPT.md
  interface/student-app/STUDENT_APP_UI_ANALYSIS.md
  interface/student-app/bun.lock
  interface/super-admin/src/pages/Configuration.js
  interface/super-admin/src/pages/Dashboard.js
  interface/super-admin/src/pages/Orders.js
  interface/super-admin/src/pages/Subscriptions.js
  interface/super-admin/src/pages/Support.js
  services/mcp-servers/.gitignore
  services/mcp-servers/README.md
  services/mcp-servers/config/cursor-config.json
  services/mcp-servers/config/servers.json
  services/mcp-servers/docs/adding-servers.md
  services/mcp-servers/docs/architecture.md
  services/mcp-servers/docs/cursor-integration.md
  services/mcp-servers/docs/setup.md
  services/mcp-servers/src/servers/_template/README.md
  services/mcp-servers/src/servers/mongodb/README.md
  services/mcp-servers/src/servers/mongodb/config.ts
  services/mcp-servers/src/servers/mongodb/index.ts
  services/mcp-servers/src/shared/config/env.ts
  services/mcp-servers/src/shared/types/mcp-server.ts
  services/mcp-servers/src/shared/utils/logger.ts
  services/mcp-servers/src/shared/utils/server-registry.ts
  services/mcp-servers/tsconfig.json
  services/monolith_backend/src/modules/email/templates/emails/CfoWelcomeEmail.tsx
  services/motia/bun.lock
  services/motia/package.json
Due: build_official_web, build_mobile_app, build_partner_app, test_official_web, test_mobile_app, test_partner_app, deploy_official_web, deploy_mobile_app, deploy_partner_app

ui
  interface/student-app/app/(tabs)/index.tsx
  interface/student-app/components/SplashScreen.tsx
Due: build_mobile_app, test_mobile_app, deploy_mobile_app

Path conditions:
  build_backend: any of: monolith_backend/**/*, .gitlab-ci.yml
  build_official_web: any of: interface/official-web-app/**/*, dispatch.yaml, .gitlab-ci.yml
  build_mobile_app: any of: interface/student-app/**/*, dispatch.yaml, .gitlab-ci.yml
  build_partner_app: any of: interface/partner-app/**/*, dispatch.yaml, .gitlab-ci.yml
  test_backend: any of: monolith_backend/**/*, .gitlab-ci.yml
  test_official_web: any of: interface/official-web-app/**/*, dispatch.yaml, .gitlab-ci.yml
  test_mobile_app: any of: interface/student-app/**/*, dispatch.yaml, .gitlab-ci.yml
  test_partner_app: any of: interface/partner-app/**/*, dispatch.yaml, .gitlab-ci.yml
  deploy_backend: any of: monolith_backend/**/*, .gitlab-ci.yml
  deploy_official_web: any of: interface/official-web-app/**/*, dispatch.yaml, .gitlab-ci.yml
  deploy_mobile_app: any of: interface/student-app/**/*, dispatch.yaml, .gitlab-ci.yml
  deploy_partner_app: any of: interface/partner-app/**/*, dispatch.yaml, .gitlab-ci.yml
  deploy_dispatch: any of: dispatch.yaml
