Repository tiffinwaleofficial/Tiffin-Wale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_official_web, build_mobile_app, build_partner_app, test_backend, test_official_web, test_mobile_app, test_partner_app, deploy_backend, deploy_official_web, deploy_mobile_app, deploy_partner_app, deploy_dispatch

Path conditions:
  build_backend: any of: monolith_backend/**/*, .gitlab-ci.yml
  build_official_web: any of: interface/official-web-app/**/*, dispatch.yaml, .gitlab-ci.yml
  build_mobile_app: any of: interface/student-app/**/*, dispatch.yaml, .gitlab-ci.yml
  build_partner_app: any of: interface/partner-app/**/*, dispatch.yaml, .gitlab-ci.yml
  test_backend: any of: monolith_backend/**/*, .gitlab-ci.yml
  test_official_web: any of: interface/official-web-app/**/*, dispatch.yaml, .gitlab-ci.yml
  test_mobile_app: any of: interface/student-app/**/*, dispatch.yaml, .gitlab-ci.yml
  test_partner_app: any of: interface/partner-app/**/*, dispatch.yaml, .gitlab-ci.yml
  deploy_backend: any of: monolith_backend/**/*, .gitlab-ci.yml
  deploy_official_web: any of: interface/official-web-app/**/*, dispatch.yaml, .gitlab-ci.yml
  deploy_mobile_app: any of: interface/student-app/**/*, dispatch.yaml, .gitlab-ci.yml
  deploy_partner_app: any of: interface/partner-app/**/*, dispatch.yaml, .gitlab-ci.yml
  deploy_dispatch: any of: dispatch.yaml

Add additional configuration files for super-admin-web
  interface/super-admin-web/.eslintrc.json
  interface/super-admin-web/.firebaserc
  interface/super-admin-web/.gcloudignore
  interface/super-admin-web/.gitignore
  interface/super-admin-web/README.md
  interface/super-admin-web/firebase.json
  interface/super-admin-web/package-lock.json
Due: none

Add remaining super-admin-web files including configuration, docs and env files
  interface/super-admin-web/.env.local
  interface/super-admin-web/.idx/dev.nix
  interface/super-admin-web/.modified
  interface/super-admin-web/dispatch.yaml
  interface/super-admin-web/docs/README.md
  interface/super-admin-web/docs/blueprint.md
Due: none

Migrated from npm to pnpm
  .npmrc
  docs/COMMANDS.md
  docs/COMMANDS_GUIDE.md
  docs/PNPM_MIGRATION_GUIDE.md
  interface/official-web-app/package.json
  interface/official-web-app/scripts/build-for-gcp.js
  interface/official-web-app/scripts/scripts/build-for-gcp.js
  interface/partner-app/package.json
  interface/student-app/package.json
  interface/super-admin-web/app.yaml
  monolith_backend/app.yaml
  monolith_backend/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: build_backend, build_official_web, build_mobile_app, build_partner_app, test_backend, test_official_web, test_mobile_app, test_partner_app, deploy_backend, deploy_official_web, deploy_mobile_app, deploy_partner_app

Implement token refresh, profile endpoints, and API client configuration
  interface/super-admin-web/package.json
  interface/super-admin-web/src/config/environment.ts
  interface/super-admin-web/src/lib/apiClient.ts
  monolith_backend/src/modules/auth/auth.controller.ts
  monolith_backend/src/modules/auth/auth.service.ts
  monolith_backend/src/modules/auth/dto/refresh-token.dto.ts
  monolith_backend/src/modules/customer/customer-profile.controller.ts
  monolith_backend/src/modules/order/order.controller.ts
  monolith_backend/src/modules/user/user.controller.ts
Due: build_backend, test_backend, deploy_backend

Add partner-specific endpoints for meals, notifications, and reviews
  interface/super-admin-web/src/lib/apiClient.ts
  monolith_backend/src/modules/landing/landing.controller.ts
  monolith_backend/src/modules/meal/meal.controller.ts
  monolith_backend/src/modules/meal/meal.service.ts
  monolith_backend/src/modules/notification/notification.controller.ts
  monolith_backend/src/modules/notification/notification.service.ts
  monolith_backend/src/modules/partner/partner.controller.ts
  monolith_backend/src/modules/partner/partner.service.ts
Due: build_backend, test_backend, deploy_backend

Checkpoint before follow-up message
  monolith_backend/src/app.module.ts
  monolith_backend/src/modules/analytics/analytics.controller.ts
  monolith_backend/src/modules/analytics/analytics.module.ts
  monolith_backend/src/modules/analytics/analytics.service.ts
  monolith_backend/src/modules/support/support.controller.ts
  monolith_backend/src/modules/support/support.module.ts
  monolith_backend/src/modules/support/support.service.ts
  monolith_backend/src/modules/upload/upload.controller.ts
  monolith_backend/src/modules/upload/upload.module.ts
  monolith_backend/src/modules/upload/upload.service.ts
Due: build_backend, test_backend, deploy_backend

Fetch dashboard metrics dynamically from API and update chart data
  interface/super-admin-web/src/app/(dashboard)/dashboard/page.tsx
Due: none

Update Super-Admin Web README with API endpoints and documentation
  interface/super-admin-web/docs/README.md
Due: none

Migrate orders page to use API client instead of Firestore
  interface/super-admin-web/src/app/(dashboard)/dashboard/orders/page.tsx
Due: none

Migrate partners page from Firestore to API-based data fetching
  interface/super-admin-web/src/app/(dashboard)/dashboard/partners/page.tsx
Due: none

Migrate customers page from Firestore to API-based data fetching
  interface/super-admin-web/src/app/(dashboard)/dashboard/customers/page.tsx
Due: none

Fetch subscriptions from API and add status update functionality
  interface/super-admin-web/src/app/(dashboard)/dashboard/subscriptions/page.tsx
Due: none

backend and student app changes
  interface/student-app/docs/Live-Chat-System-Guide.md
  interface/student-app/docs/Offline-First-Architecture-Guide.md
  interface/student-app/docs/RazorPay-Integration-Guide.md
  interface/student-app/hooks/useChat.ts
  interface/student-app/memory-bank/realtime-enhancement-progress.md
  interface/student-app/services/offlineDataManager.ts
  interface/student-app/store/paymentStore.ts
  interface/student-app/testing/README.md
  interface/student-app/testing/TESTING_GUIDE.md
  interface/student-app/testing/TESTING_SUMMARY.md
  interface/student-app/testing/e2e/orders/orderFlow.test.tsx
  interface/student-app/testing/unit/components/Input.test.tsx
  interface/student-app/testing/utils/testHelpers.tsx
  interface/student-app/types/razorpay.d.ts
  monolith_backend/memory-bank/README.md
  monolith_backend/memory-bank/api-reference.md
  monolith_backend/memory-bank/development-scopes.md
  monolith_backend/memory-bank/module-documentation.md
  monolith_backend/memory-bank/progress-tracking.md
  monolith_backend/src/modules/chat/chat.controller.ts
  monolith_backend/src/modules/chat/chat.module.ts
  monolith_backend/src/modules/chat/schemas/chat-message.schema.ts
  monolith_backend/src/modules/chat/schemas/conversation.schema.ts
  monolith_backend/src/modules/chat/schemas/typing-indicator.schema.ts
  monolith_backend/src/modules/menu/schemas/menu.schema.ts
  monolith_backend/src/modules/review/dto/create-review.dto.ts
  monolith_backend/src/modules/review/review.controller.ts
  monolith_backend/src/modules/review/review.module.ts
  monolith_backend/src/modules/review/schemas/review.schema.ts
Due: build_backend, build_mobile_app, test_backend, test_mobile_app, deploy_backend, deploy_mobile_app

firebase 100% working now for student app
  interface/student-app/app/(onboarding)/otp-verification.tsx
  interface/student-app/app/(onboarding)/phone-verification.tsx
  interface/student-app/app/(onboarding)/welcome.tsx
  interface/student-app/app/_layout.tsx
  interface/student-app/components/AuthGuard.tsx
  interface/student-app/components/RouteGuard.tsx
  interface/student-app/components/ui/PolicyModal.tsx
  interface/student-app/config/environment.ts
  interface/student-app/config/firebase.ts
  interface/student-app/services/secureAuthService.ts
  interface/student-app/store/notificationStore.ts
  interface/student-app/store/orderStore.ts
  monolith_backend/package.json
  monolith_backend/vercel.json
Due: build_backend, build_mobile_app, test_backend, test_mobile_app, deploy_backend, deploy_mobile_app

fix: Resolve Vercel deployment issues and CORS configuration
  monolith_backend/api/index.ts
Due: build_backend, test_backend, deploy_backend

fix: Configure Vercel deployment for backend-only build
  interface/student-app/config/environment.ts
  monolith_backend/vercel.json
  vercel.json
Due: build_backend, build_mobile_app, test_backend, test_mobile_app, deploy_backend, deploy_mobile_app

fix: Clean up Vercel configuration for backend-only deployment
  monolith_backend/vercel.json
Due: build_backend, test_backend, deploy_backend

fix: Clean up Vercel configuration for backend-only deployment
  vercel.json
Due: none

revert: Remove root-level Vercel config to avoid conflicts with interface apps
  .vercelignore
  package.json
Due: none

gitignores and jest fix
  .gitignore
  interface/student-app/components/RecaptchaContainer.tsx
  interface/student-app/testing/README.md
  interface/student-app/testing/TESTING_GUIDE.md
  interface/student-app/testing/TESTING_SUMMARY.md
  interface/student-app/testing/config/jest.config.js
  interface/student-app/testing/config/jest.setup.js
  interface/student-app/testing/e2e/auth/loginFlow.test.tsx
  interface/student-app/testing/e2e/orders/orderFlow.test.tsx
  interface/student-app/testing/fixtures/mockData.ts
  interface/student-app/testing/integration/api/apiClient.test.ts
  interface/student-app/testing/mocks/testUtils.ts
  interface/student-app/testing/unit/components/Button.test.tsx
  interface/student-app/testing/unit/components/Input.test.tsx
  interface/student-app/testing/unit/services/authService.test.ts
  interface/student-app/testing/unit/services/chatService.test.ts
  interface/student-app/testing/unit/store/authStore.test.ts
  interface/student-app/testing/utils/testHelpers.tsx
  services/monolith_backend/tests/helpers/auth.js
  services/monolith_backend/tests/jest.config.js
  services/monolith_backend/tests/menu-api.test.js
  services/monolith_backend/tests/simple.test.js
Due: build_mobile_app, test_mobile_app, deploy_mobile_app

mailjet integrated with Resend Email service dual configs
  services/monolith_backend/.env
  services/monolith_backend/MAILJET_INTEGRATION_SUMMARY.md
  services/monolith_backend/SIMPLE_MAILJET_INTEGRATION.md
  services/monolith_backend/bun.lock
  services/monolith_backend/package.json
  services/monolith_backend/src/app.module.ts
  services/monolith_backend/src/config/email.config.ts
  services/monolith_backend/src/modules/email/controllers/email-stats.controller.ts
  services/monolith_backend/src/modules/email/email.module.ts
  services/monolith_backend/src/modules/email/email.service.ts
  services/monolith_backend/src/modules/email/interfaces/email-provider.interface.ts
  services/monolith_backend/src/modules/email/mailjet.service.ts
  services/monolith_backend/src/modules/email/providers/base-email.provider.ts
  services/monolith_backend/src/modules/email/providers/email-provider.factory.ts
  services/monolith_backend/src/modules/email/providers/mailjet.provider.ts
  services/monolith_backend/src/modules/email/providers/resend.provider.ts
  services/monolith_backend/src/modules/email/services/email-counter.service.ts
  services/monolith_backend/src/modules/email/template.service.ts
  services/monolith_backend/src/modules/email/templates/emails/EarningsSummaryEmail.tsx
  services/monolith_backend/src/modules/partner/partner.controller.ts
  services/monolith_backend/src/modules/partner/partner.module.ts
  services/monolith_backend/src/modules/partner/partner.service.ts
Due: none

Refactor: Enhance forms with file uploads and UI improvements
  interface/official-web-app/client/src/components/ContactForm.tsx
  interface/official-web-app/client/src/components/CorporateQuoteForm.tsx
  interface/official-web-app/client/src/components/FeedbackForm.tsx
  interface/official-web-app/client/src/components/Hero.tsx
  interface/official-web-app/client/src/components/Navbar.tsx
  interface/official-web-app/client/src/components/TestimonialForm.tsx
  interface/official-web-app/client/src/components/ui/file-upload-zone.tsx
  interface/official-web-app/client/src/components/ui/image-gallery.tsx
  interface/official-web-app/client/src/index.css
  interface/official-web-app/client/src/lib/api.ts
  interface/official-web-app/client/src/lib/env.ts
  interface/official-web-app/client/src/pages/corporate-plans.tsx
  interface/official-web-app/client/src/services/cloudinaryService.ts
  interface/official-web-app/tailwind.config.ts
Due: build_official_web, test_official_web, deploy_official_web

feat: Implement Firebase notifications with funny messages
  interface/student-app/app/(onboarding)/otp-verification.tsx
  interface/student-app/app/_layout.tsx
  interface/student-app/app/change-password.tsx
  interface/student-app/app/forgot-password.tsx
  interface/student-app/app/help-support.tsx
  interface/student-app/app/rate-meal.tsx
  interface/student-app/components/ReviewModal.tsx
  interface/student-app/docs/Firebase-Notification-Implementation-Guide.md
  interface/student-app/hooks/useFirebaseNotification.ts
  interface/student-app/services/firebaseNotificationService.ts
  interface/student-app/services/realtimeNotificationService.ts
  interface/student-app/utils/notificationTester.ts
  interface/student-app/utils/smartAlert.ts
Due: build_mobile_app, test_mobile_app, deploy_mobile_app

feat: Implement comprehensive notification system
  interface/student-app/app/(tabs)/profile.tsx
  interface/student-app/app/_layout.tsx
  interface/student-app/app/notification-preferences.tsx
  interface/student-app/components/NotificationTestPanel.tsx
  interface/student-app/docs/COMPLETE_NOTIFICATION_SYSTEM_SUMMARY.md
  interface/student-app/docs/Real-Time-Notification-Integration-Guide.md
  interface/student-app/hooks/useNotificationTracking.ts
  interface/student-app/services/notificationPreferencesService.ts
  interface/student-app/services/realtimeNotificationService.ts
  interface/student-app/store/notificationPreferencesStore.ts
  interface/student-app/types/notificationPreferences.ts
  interface/student-app/utils/notificationIntegrationExamples.ts
Due: build_mobile_app, test_mobile_app, deploy_mobile_app

frontend
  interface/official-web-app/.env
  interface/official-web-app/bun.lock
  interface/official-web-app/client/client/src/pages/faq.tsx
  interface/official-web-app/client/src/components/DownloadCTA.tsx
  interface/official-web-app/client/src/components/FAQ.tsx
  interface/official-web-app/client/src/components/Features.tsx
  interface/official-web-app/client/src/components/FeedbackForm.tsx
  interface/official-web-app/client/src/components/Footer.tsx
  interface/official-web-app/client/src/components/Hero.tsx
  interface/official-web-app/client/src/components/HowItWorks.tsx
  interface/official-web-app/client/src/components/Pricing.tsx
  interface/official-web-app/client/src/components/Testimonials.tsx
  interface/official-web-app/client/src/lib/api.ts
  interface/official-web-app/client/src/pages/about.tsx
  interface/official-web-app/client/src/pages/contact-us.tsx
  interface/official-web-app/client/src/pages/corporate-plans.tsx
  interface/official-web-app/client/src/pages/privacy-policy.tsx
  interface/official-web-app/client/src/pages/refund-policy.tsx
  interface/official-web-app/client/src/pages/terms.tsx
  interface/official-web-app/package.json
Due: build_official_web, test_official_web, deploy_official_web
